.bar .searchbar {
    float: right;
    padding-left: 12px;
    max-width: 750px;
    position: relative;
    margin-right: -600px;
}
.bar .searchbar input {
    width: 210px;
    height: 39px;
    padding-left: 10px;
    margin-top: 3px; 
    border-radius: 3px;
    border: 2px solid #07C;
    position: relative;
    transition: .3s linear;
    border-width: 1px;
    font-size: 14px;
}
.bar .searchbar input:focus {
    width: 390px;
    border-color: 2px solid #324b4e;
}

.tab {
    font-size: 14px;
    height: 100%;
    max-width: 500px;
}


.tab button {
    background-color: white;
    float: left;
    border: 3px solid white;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 0px;
}


.tab button:hover {
    border-bottom: 3px solid cornflowerblue;
    color: cornflowerblue;
}


.tab button.active {
    border-bottom: 3px solid cornflowerblue;
    color: cornflowerblue;
}


.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    margin-top: 60px;
}

.history-review {
    padding: 10px 0px 0px 0px;
    border: 1px solid #ccc;
    margin-top: -740px;
    margin-left: 840px;
}

.menu {
    background-color: white;
    margin: 0 auto auto 48px;
    padding: 0 15px;
    max-width: 1060px;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    background-color: #fafafb;
    position: relative;
}

.search {
    float: right;
    position: relative;
    margin: 10px 10px 10px 10px;
}

.search input {
    width: 210px;
    height: 30px;
    padding: 0 10px 0 5px;
    margin: 60px 10px 10px 10px;
}

div#MyReview {
    
    padding-top: 30px;
}

.main {
    position: relative;
    width: 620px;
    padding: 10px;
}

div.main fieldset {
    margin: 10px 0;
    padding: 0;
    border: 0;
}

.add{
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
    margin-left: 20px;
    margin-right: 20px;

}

.add:hover{
    background: #07C;
    box-shadow: 0 15px 20px #07C;
    color: white;
    transform: translateY(-7px);
}


.bar._fixed {
    position: fixed;
    min-width: auto;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1090px;
    z-index: 1050;
    background-color: #fafafb;
    height: 50px;
    box-sizing: border-box;
    margin: 0;
}

.new-review {
    border: 2px solid #07C;
    padding: 12px 16px;
    font-size: 15px;
    height: 100%;
    border-radius: 0 2px 2px 0;
}

.text-review {
    border: 2px solid #07C;
    padding: 12px 16px;
    font-size: 15px;
    height: 444px;
    border-radius: 0 2px 2px 0;
    width: 444px;
}

li {
    list-style-type: none;
}

.review-all {
margin-left: 0;
list-style: none;
counter-reset: li;
}
.review-all li {
margin-bottom: 1.5em;
margin-right: 1.5em;
border: 3px solid #07C;
padding: 0.6em;
border-radius: 4px;
background: #FEFEFE;
color: #231F20;
font-family: "Trebuchet MS", "Lucida Sans";
}
.review-all li:before {
position: absolute;
top: -0.7em;
padding-left: 0.4em;
padding-right: 0.4em;
font-size: 16px;
font-weight: bold;
color: #DCC24B;
background: #FEFEFE;
border-radius: 50%;
counter-increment: li;
content: counter(li);
}

.home-review-all {
margin-left: 0;
list-style: none;
counter-reset: li;
}
.home-review-all li {
margin-bottom: 1.5em;
margin-left: 400px;
margin-right: 400px;
border: 3px solid #07C;
padding: 0.6em;
border-radius: 4px;
background: #FEFEFE;
color: #231F20;
font-family: "Trebuchet MS", "Lucida Sans";
}
.home-review-all li:before {
position: absolute;
top: -0.7em;
padding-left: 0.4em;
padding-right: 0.4em;
font-size: 16px;
font-weight: bold;
color: #DCC24B;
background: #FEFEFE;
border-radius: 50%;
counter-increment: li;
content: counter(li);
}

a {
    text-decoration: none; 
}

.like{
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
    margin-left: 20px;
    margin-right: 20px;

}

.like:hover{
    background: #07C;
    box-shadow: 0 15px 20px #07C;
    color: white;
    transform: translateY(-7px);
}

.like-num {
    border: 2px solid #07C;
    padding: 12px 16px;
    font-size: 15px;
    height: 100%;
    border-radius: 0 2px 2px 0;
}